{% extends 'foodfest/base.html' %}
{% block css %}  {% endblock %}
{% block body %}  

{% if msg %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

{% endif %}

<div class="mx-auto shadow mt-5" style="width: 500px;">
    <div class="container">
        <h2> Login here</h2>
   
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label mt-3">Enter your unique username</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="name" required>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Enter your password</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" name="password" required>
          </div>
          <button type="submit" class="btn btn-primary mb-4">Login</button><br>
          Don't have account, <a href="signup"><b>Register</b></a><br>
          <a href="forgotpassword"><b>Forgot Password</b></a>

    </form>
  </div>
</div>


{% endblock %}

